body {
    font-family: system-ui;
    margin: 0;
}

.menu {
    background: beige;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

section {
    padding: 1rem 0;
}

label {
    font-weight: bold;
}

td {
    padding: 8px;
}

td p {
    margin: 0;
}